<footer>
  <div class="footer-content">
    <h3>The nambikkai Project </h3>
    <p> Connect with us via social media</p>
    <ul class="socials">
      <li><a href="https://www.facebook.com/thenambikkaiproject/"><i class="fa fa-facebook"></i></a></li>
      <li><a href="https://instagram.com/thenambikkaiproject?utm_medium=copy_link"><i class="fa fa-instagram"></i></a></li>
      <li><a href="https://youtube.com/channel/UCFPq19B4bXH2W7EIgxmEWSA"><i class="fa fa-youtube"></i></a></li>
    </ul>
  </div>

  <div class="footer-bottom">
    <p>copyright &copy; 2021 thenambikkaiproject. Designed by <span>Arun</span></p>
  </div>
</footer>