<footer class="footer">
  <div class="logo">
    <h1 class="logo-first-word">Nambikkai</h1>
    <h1 class="logo-second-word">Project<span class="dot">.</span></h1>
  </div>

  <div class="stats">
    <p>The nambikkai team as of now have managed to collect a total amount of RM 1700</p>
  </div>

  <div class="contact-form">
    <label class="label">Contact Us</label>
    <form action="https://formspree.io/f/mjvjzgvq" method="POST">
      <div>
        <input type="email" name="email" class="email" placeholder="name@email.com">
      </div>
      
      <div>
        <input type="text" name="message" class="email" placeholder="write your message here">
      </div>

      <button class="btn btn-send">Send Message</button>
    </form>
  </div>

  <div class="social-media-links">
    <i class='bx bxl-facebook-circle'></i>
    <i class='bx bxl-instagram-alt'></i>
    <i class='bx bxl-youtube'></i>
  </div>

  <div class="copyright">
    <p>COPYRIGHT © 2021 THENAMBIKKAIPROJECT. DESIGNED BY ARUN</p>
  </div>
</footer>