<nav class="navbar">
  <div class="navbarDiv"><img src="images/logo.png" alt="" srcset=""></div>
  <a href="#" class= "toggle-hamburger">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </a>
  <div class="navbar-links">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="#mission-section">Mission</a></li>
      <li><a href="#event-section">Events</a></li>
      <li><a href="donation">Donation</a></li>
     
    </ul>
  </div>
</nav>