<header class="header">
  <div class="logo-container">
    <img class="logo-img" src="images/logo.png" alt="">
    <div class="logo">
      <h1 class="logo-first-word">Nambikkai</h1>
      <h1 class="logo-second-word">Project<span class="dot">.</span></h1>
    </div>
    <i class='bx bx-menu hamburger-menu'></i>
  </div>

  <nav class="navigation-menu">
    <ul class="list">
      <li class="nav-item"> <a href="/" class="nav-links">Home</a></li>
      <li class="nav-item"> <a href="/about" class="nav-links">About</a></li>
      <li class="nav-item"> <a href="/events" class="nav-links">Events</a></li>
      <!-- <li class="nav-item"> <a href="#" class="nav-links">Updates</a></li> -->
      <li class="nav-item"> <button class="btn btn-donate payment">Donate</button></li>
    </ul>
  </nav>
</header>