<%- include('partials/header.ejs') %>
<body class="event-body">
  <%- include('partials/navbar.ejs') %>
  <%- include('partials/checkout.ejs') %>
  <section class="current-event-section">
    <h1 class="event-title">Future Events</h1>

    <div class="current-event-grid"> </div>
    <div class="current-popup-overlay"></div>

    <template class="current-event-tile-template">
      <div class="current-event-tile">
        <div class="current-event-img">
          <img src="#" data-event-img>
        </div>
        <div class="current-know-more" data-know-more>Know More</div>
      </div>
    </template>

    <template class="current-event-information-template">
      <div class="current-event-information">
        <div class="current-event-img">
          <img src="#" data-popupEvent-img>
        </div>

        <div class="current-event-description" data-event-description></div>
        <button class="btn btn-close">Go Back</button>
      </div>
    </template>
  </section>

  <section class="event-section">
    <h1 class="event-title">Past Events</h1>

    <div class="event-grid"> </div>
    <div class="popup-overlay"></div>

    <template class="event-tile-template">
      <div class="event-tile">
        <div class="event-img">
          <img src="#" data-event-img>
        </div>
        <div class="know-more" data-know-more>Know More</div>
      </div>
    </template>

    <template class="event-information-template">
      <div class="event-information">
        <div class="event-img">
          <img src="#" data-popupEvent-img>
        </div>

        <div class="event-description" data-event-description></div>
        <button class="btn btn-close">Go Back</button>
      </div>
    </template>
  </section>
  <%- include('partials/footer.ejs') %> 
</body>
</html>