<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Events</title>
  <link rel="stylesheet" href="style.css">
  <script src="script.js" defer="true"></script>
  <script src="https://kit.fontawesome.com/640e40826c.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css" />
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap" rel="stylesheet">
</head>
<body>
  <%- include('partials/nav.ejs') %> 
  <section class="events" id="event-section">
    <h1><span class="second-word">Schedul</span><span class="first-word">ed Events</span> </h1>
  
    <div class="event-container">
      <div class="upcoming-event">
          <img src="images/yoga.png" alt="" srcset="">       
      </div>
      <div class="event-details">
        <p>Join us for a morning of destressing, stretching, and learning about the origins of the ancient art. Led by Ms Shanthi, the founder of Sahasra Yoga.</p>
        <p>The cost of the class is <span style="color:#2ecf78">RM25</span>, 100% of which will be donated to our cause. In accordance with the guidelines of the current Movement Control Order, the class will be held online</p>
        <p class="bank-details"> Payments Details:<br>
          Name : Dhivya Shivani Raviselvan<br>
          Acc Number : 34950220338<br>
          Bank Name: Hong Leong Bank</p>
      </div>

      <div class="sign-up-link">
        <a href="https://docs.google.com/forms/d/12ZkwuNWgxqCB50kuSb20jAfi3bouxZAMNZygw0Nk4YA/edit?vc=0&c=0&w=1&flr=0">
          <button class="btn-primary">
            Click to Sign Up
          </button>
        </a>
      </div>
    </div>

    <div class="event-container rocky-event">
      <div class="upcoming-event">
          <img src="images/rockyRoadRun.jpeg" alt="" srcset="">       
      </div>
      <div class="event-details">
        <p>Join Us On Our Sweet, Sweet Journey!</p>
        <p>The past 18 months have undeniably been a Rocky journey for us all, and whilst the end of this long Road is within sight, we still have a ways to go before we get there! So why not celebrate making it this far by joining an event that will motivate you to get healthy and running, whilst also contributing to a great cause?</p>
        <p>Putting a healthy twist on turning to ice cream for comfort, we decided to theme our very first Virtual Run after a flavour invented in the Roaring 20’s to help cure the blues of the people.</p>
        <p class="event-information"> Event Details:<br>
          Event Name: Rocky Road Run<br>
          Duration : 13/08/2021 - 5/09/2021 <br>
          Event Motive: Raising money for the underprivileged<br>
        </p>
        <p>All profits will be going towards our goals, and we will be 100% transparent with our amazing supporters - you - by publishing and showing proof of us contributing towards our goals. So what are you waiting for? Sign up now, and you know your time and money will be going towards a good cause - for yourself and the orphanage we are currently working on equipping!</p>
      </div>
    </div>
    <h1><span class="first-word">Past E</span><span class="second-word">vents</span> </h1>
  
    <div class="event-container">
      <div class="past-event">
          <img src="images/event1.jpeg" alt="" srcset="">       
      </div>

      <div class="event-details">
        <p>Panel discussion: "Are the poor left behind in the digital age?"</p>
        <p>The first ever official event held in accordance to mission of the Nambikkai Project</p>

        <p>deemed as success as it managed to raise more than RM 500</p>
        <div class="video-link">
          <a href="https://youtu.be/f3QhPxUWJ8U">
            <button class="btn-primary">
              Watch it here
            </button>
          </a>
        </div>
      </div>
      
    </div>
  </section>
</body>
</html>