<%- include('partials/header.ejs') %> 

<body>
  <%- include('partials/navbar.ejs') %> 

  <%- include('partials/checkout.ejs') %>

  <section class="mission-section">
    <div class="image-grid">
      <img src="/images/6.jpg" alt="" class="">
      <img src="/images/7.jpg" alt="" class="">
      <img src="/images/1.jpg" alt="" class="">
      <img src="/images/4.jpg" alt="" class="">
    </div>
    <h1 class="title">Nambikkai's Mission</h1>

    <div class="mission-container">
      <div class="mission-description">
        <p class="information">
          The Nambikkai Project was started in March 2021 by Malaysian students, with the <span>aim of purchasing computers for children in local orphanages, and teaching them how to use them</span> – including recognising pieces of hardware, surfing the Internet, word processing, and introductory programming. The project has the <span>long-term goal of encouraging underprivileged children to enter professional fields</span> when they <span>grow up</span>, as well as raising awareness amongst the local community on the importance of digital literacy in the modern world.
        </p>
      </div>
    </div>
  
    <div class="mission-buttons">
      <button class="btn btn-donate payment" data-donate-button>Donate</button>
       <a href="https://www.youtube.com/watch?v=8zoVoFHVv0g&t=2s"><button class="btn btn-video">Watch Video</button></a> 
    </div>
  </section>
  
  <section class="sai-pandian">
    <div class="sai-pandian-image">
      <img src="/images/8.jpg" alt="">
    </div>

    <h1 class="title">Sai Pandian Children's Home</h1>

    <div class="sai-pandian-description">
      <p class="information">
        Founded in <span>2011</span>, and has since then taken about <span>70</span> children under their care. At the moment they house <span>23</span> children, aged <span>1</span> up to <span>21</span>.
      </p>
      <p class="information">
        Being a small foundation, <span>they do not get grants from the government</span>; rather, they <span>rely</span> on the <span>generosity of the neighbourhood</span> to get by.
      </p>
    </div>
  </section>

  <%- include('partials/footer.ejs') %> 
</body>
</html>