<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nambikkai</title>
  <link rel="stylesheet" href="style.css">
  <script src="https://kit.fontawesome.com/640e40826c.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap" rel="stylesheet">
  <script src="navbar.js" defer></script>
</head>

<body>
<%- include('partials/nav.ejs') %> 
<section class="report-container">
  <h1><span class="first-word">Status</span> <span class="second-word">Updates</span> </h1>
  <div class="fr-container">
    <div class="fr-heading"> <h2> <span> Reported on June 9th 2021 </span></h2></div>
    <div class="fr-details">
      <p>The Nambikkai Project has successfully raised RM 1,700. We would like to express our sincere gratitude and appreciation for those who have donated to our project, as well as those who have been participating in our events and supporting us. With the donations received, we aim to purchase Raspberry Pi units for the children in the Sai Pandian Orphanage. It is versatile and supports a wide range of programming languages; an optimal computer for learning.</p>
      <p>Non-monetary donations - such as laptops (in excellent condition) - were also received, which lowered our targeted number of computers to be purchased. The extra funds will be channelled into providing the orphanages with the infrastructure required to make technological education a reality, including renovation of a study room, desks and chairs, and improved broadband connection.</p>
      <p>Unfortunately, such tasks are being put on hold due to the implementation of the Movement Control Order (MCO), and progress on this matter will materialize in due time. The allocated funds are yet to be touched, and all future transactions will be made transparent to the public. In the meantime, the Nambikkai Project will continue to organize virtual fundraising events. We appreciate
        your understanding and support on this matter, and thank you once again for your continued support.</p>

    </div>
  </div>
</section>
<%- include('partials/footer.ejs') %>
</body>