*{
  box-sizing: border-box;
  text-transform: uppercase;
}

html{
  scroll-behavior: smooth;
}

body{
  margin: 0;
  padding:0;
  background-color : #532ecf;
}
/* Mobile Version*/
.navbar{
  display:flex;
  flex-direction:column;
  align-items:left;
  width:100%;
  background-color : #532ecf;
  color: white;
  border-bottom: .3rem solid #2ecf78;
}

.navbarDiv{
  width: 20%;
  height: 5rem;
}

.navbarDiv img{
  padding: 0.5rem;
  object-fit: contain;
  width:100%;
  height:100%;
}

.navbar-links{
  display: none;
  width:100%;
  font-family: 'Inter', sans-serif;
}

.navbar-links.active{
  display: flex;
}

.navbar-links ul{
  margin: 0;
  padding: 0;
  width:100%;
  display: flex;
  flex-direction: column;
}

.navbar-links li{
  list-style: none;
  text-align: center;
}

.navbar-links li:active{
  background-color: #2ecf78;
  transition: all .1s ease-in-out;
}

.navbar-links li a {
  text-decoration:none;
  color: white;
  padding: 1rem;
  display:block;
}

.toggle-hamburger{
  position: absolute;
  top: 1.75rem;
  right: 1rem;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-hamburger .bar{
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

/*image slider*/

.slider{
  width: 100%;
  height: 50vh;
  margin: 0 auto 0 auto;
  overflow: hidden;
  background-image: url("images/nambikkai2.jpeg");
  background-size:contain;
  border-bottom: 0.2rem solid #2ecf78;
}

.slider figure{
  position: relative;
  width:500%;
  height: 100%;
  margin: 0;
  left: 0;
  animation: 12s imgSlider infinite;
}

.slider figure img{
  float:left;
  width:20%;
  height: 100%;
  object-fit: fill;
}


@keyframes imgSlider {
  0%{
    left: 0;
  }

  20%{
    left: 0;
  }

  25%{
    left: -100%;
  }
  45%{
    left: -100%;
  }

  50%{
    left: -200%;
  }

  75%{
    left: -200%;
  }

  100%{
    left: -300%;
  }
} 

/*Mission section*/

.mission{
  text-align:center;
  background-color: #532ecf;
  padding-bottom:1rem;
  border-bottom: 0.2rem solid #2ecf78;
}

.mission h1,.events h1,.donation h1{
  font-family: 'Inter', sans-serif;
  color:white;
  font-size: 1.5rem;
  margin:0;
  padding-top: 2rem;
}

.first-word{
  border-top: 0.3rem solid #2ecf78
}

.second-word{
  border-bottom: 0.3rem solid #2ecf78
}

.mission-text{
  width:80%;
  text-align: left;
  font-family: "Roboto",sans-serif;
  font-size: 0.8rem;
  font-weight: bold;
  margin:2rem auto 0 auto;
  padding:1.5rem;
  color:white;
  border:.2rem solid #2ecf78;
  border-radius: 10px;
}

.mission-home{
  margin: 4rem auto 0 auto;
  font-size: 1rem;
  width: 100%;
  color:white;
  font-family: "Inter",sans-serif;
}

.add-border-bottom,.add-border-top{
  margin: .2rem auto 2rem auto;
  width:95%;
  border-bottom: 0.2rem solid #2ecf78;
}

.add-border-top{
  margin:0 auto;
}

.mission iframe{
  width:80%;
  height: 10rem;
}

.mission-home-text{
  width: 80%;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin: 0 auto;
  font-size: .8rem;
  text-align: left;
}

/* Event Section */
.events{
  text-align:center;
  background-color: #532ecf;
  padding-bottom:1rem;
  border-bottom: 0.2rem solid #2ecf78;
  min-height: 60rem;
}

.event-container{
  display: flex;
  justify-content:  space-evenly;
  flex-wrap: wrap;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-bottom: 0.2rem solid #2ecf78
}

.event-container div{
  margin-top: 2rem;
  width: 80%;
  height: 20rem;
  border: 0.2rem solid #2ecf78
}

.event-container .event-details{
  margin-top: 0;
  border: none;
}

.upcoming-event{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.upcoming-event img{
  width: 100%;
  height: 100%;  
}

.event-details{
  margin-bottom: 5rem;
}

.event-details p{
  color: white;
  font-family: "Inter", sans-serif;   
  text-align: left;
  word-spacing: 3px;
  line-height: 1.5;
}

.event-details .bank-details, .event-details .event-information{
  font-size: .8rem;
  color: black;
  background-color: #2ecf78;
  padding: 1rem;
  border: .15rem solid black;
  border-radius: 20px;
}

.event-container .sign-up-link, .event-container .video-link{
  margin-top: 3rem;
  height: 0;
  border: none;
  margin-bottom: 5rem;
}

.event-container button{
  margin-top: 2rem;
  font-size: 1rem;
  width: 12rem; 
  padding: 1rem;
}

.event-container button a{
  text-decoration:none;
  color: white;
  border: 1px solid black;
  display: block;
}

.events .rocky-event{
  padding-bottom: 45rem;
}

.event-container .past-event{
  width: 80%;
}

.past-event img{
  width: 100%;
  height: 100%;
}

.event-container .video-link{
  margin: 0 auto;
}

/*Donation Page */
.donation{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align:center;
  background-color: #532ecf;
  padding-bottom:1rem;
  border-bottom: 0.2rem solid #2ecf78;
}

.donation h1{
  margin-bottom: 1rem;
}

.container{
  margin: 1rem auto 0 auto;
  width: 90%;
}

.section-header{
  font-family: 'Inter', sans-serif;
  color:white;
  font-size: 1.5rem;
}

.shop-items{
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.shop-item {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.shop-item-title {
  width: 100%;
  font-family: 'Inter', sans-serif;
  color:white; 
  margin-bottom: .5rem; 
  font-size: 1.2rem
}

.shop-item-image {
  width: 60%;
  object-fit: cover;
  margin-bottom: 1rem;
}

.shop-item-details {
  width: 100%;
  margin-bottom: 2rem;  
}

.shop-item-price {
  font-family: 'Inter', sans-serif;
  color:white; 
  margin: 0 1rem 0 0;
  font-size: 1.2rem;
  width: 80%;
}

.btn-primary {
  border: none;
  cursor: pointer;
  border-radius: 20px;
  width: 40%;
  background: #2ecf78;
  padding: .2rem;
  font-size: 1.5rem;
  color: white;
  font-family: 'Inter', sans-serif;
}

#donation-confirmation{
  margin: 2rem auto 0 auto;
  width: 90%;
  border:.3rem solid #2ecf78;
  border-radius: 20px;
}

#donation-confirmation .add-border-bottom{
  width: 100%;
  margin: .2rem auto 1rem auto;
}

.cart-header {
  font-weight: bold;
  font-size: 1.2rem;
  color: white;
  font-family: 'Inter', sans-serif;
  text-align:center;
}

.cart-column {
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
  margin-top: 1rem;
  margin-right: 1rem;
}

.cart-row {
 display: flex;
 justify-content: space-evenly;
 justify-content: center;
}

.cart-item {
  width: 30%;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.cart-price {
  width: 20%;
  font-size:1.2rem;
  color: white;
  font-family: 'Inter', sans-serif;

}

.cart-quantity {
  text-align:center;
  width: 40%;
}

.cart-item-title {
   color: white;
   font-size: .9rem;
   margin-top: 1rem;
   width: 100%;
   font-family: 'Inter', sans-serif;
}

.cart-item-image {
   width: 80%;
   height: 3rem;
}

.btn-danger {
    color: white;
    cursor: pointer;
    background-color: salmon;
    border: none;
    border-radius: 10px;
    padding: .5rem
}

.cart-quantity-input {
    height: 2rem;
    width: 2.5rem;
    margin-left: .5rem;
    margin-right: .5rem;
}

.cart-total {
    font-size: 1.2rem;
    padding-top: 2rem;
    margin-top: 1rem;
    font-family: "Inter",sans-serif;
    color: white;
    border-top: .3rem solid #2ecf78;
}

.cart-total-price {
  margin-left: 1rem;
}

.btn-purchase {
  width: 12rem;
  font-size: 1rem;
  padding: 1rem;
  margin:1rem 0 2rem 0;
}

/*Report Page*/
.report-container{
  text-align:center;
  background-color: #532ecf;
  padding-bottom:1rem;
}

.report-container h1{
  font-family: 'Inter', sans-serif;
  color:white;
  font-size: 1.5rem;
  margin:0;
  padding-top: 2rem;
}

.fr-container{
  display:flex;
  flex-wrap:wrap;
  font-family: 'Inter', sans-serif;
  color:white;
  font-size: .8rem;
}

.fr-heading{
  text-align: center;
  margin-top: 1rem;
  width: 100%;
}

.fr-heading span{
  border-bottom: .2rem #2ecf78 solid;
}

.fr-details{
  width: 80%;
  font-size: 0.7rem;
  margin: 0 auto;
  text-align: left;
  line-height: 1.5;
  letter-spacing: 2px;
}

.fr-details p{
  text-transform: none;
}

@media(max-width: 359px) and (orientation: portrait){
  .event-container .sign-up-link{
    margin-top: 10rem;
  }

  .events .rocky-event{
    padding-bottom: 55rem;
  }
}

@media(min-width: 640px){
  /*Navbar section*/
  .navbar{
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
  }

  .toggle-hamburger{
    display: none;
  }

  .navbar-links{
    display: flex;
    flex-direction: row;
    height: 100%;
  }

  .navbar-links ul{
    flex-direction: row;
    justify-content: space-evenly;
  }

  .navbar-links li{
    width: 25%;
  }

  .navbar-links li:hover{
    background-color: #2ecf78;
    transition: all .1s ease-in-out;
  }

  .navbar-links li a{
    padding: 1.75rem;
    font-size: 1.2rem
  }

  /*Mission section*/
  .mission h1,.why h1{
    font-size: 2.5rem;
  }

  .mission-text{
    width:60%;
    font-size: 1.2rem;
  }

  .mission-home{
    width: 80%
  }

  .mission-home h3{
    font-size: 2rem;
  }

  .mission-home iframe{
    width: 80%;
    height: 20rem;
  }

  .mission-home-text{
    width:85%;
    font-size: 1.2rem;
  }

  /*donation-page*/
  .shop-item{
    width: 45%;
  }

  #donation-confirmation{
    width: 70%;
  }

  .cart-header {
    font-size: 1.5rem;
  }

  .cart-item {
    width: 40%;
  }

  .cart-item-image {
    width: 60%;
    height: 5rem;
  }
 
  .cart-price {
    font-size:1.5rem;
    width: 20%;
  }
  
  .cart-quantity {
    width: 30%;
  }

/* Event Section */
  .event-container div{
    width: 40%;
  }

  .event-container .upcoming-event{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 25rem;
    width: 45%;
  }

  .upcoming-event img{
    width: 100%;
    height: 100%;  
  }

  .event-container .event-details{
    width: 50%;
    margin-top: 1rem;
    font-size: 0.9rem;
  }

  .event-details{
    margin-bottom: 0;
  }

  .event-details .bank-details{
    font-size: .9rem;
    width: 90%;
    margin: 0 auto;
  }

  .event-container .sign-up-link{
    margin-top: 1rem;
  }

  .events .rocky-event{
    padding-bottom: 20rem;
  }

  .events .rocky-event .upcoming-event{
    width: 80%;
  }

  .events .rocky-event .event-details{
    width: 80%;
  }

  .event-container .past-event{
    width: 65%;
    height: 25rem
  }

  .past-event img{
    width: 100%;
    height: 100%;
  }

    /*Report Page*/
  .report-container h1{
    font-size: 2rem;
    padding-top: 2rem;
  }

  .fr-container{
    margin-top: 2rem;
    font-size: .8rem;
  }

  .fr-heading{
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    margin: 0 auto;
    width: 30%;
    border-right: 0.2rem solid #2ecf78;
  }

  .fr-heading span{
    border: none
  }

  .fr-details{
    width: 60%;
    font-size: .9rem;
  }
}


@media (min-width:1024px) {
  .slider{
    height: 70vh;
  }

  .slider figure img{
    object-fit: contain;
  }

  .mission-text{
    width:35%;
    font-size: 1.2rem;
  }

  .mission-home iframe{
    width: 60%;
    height: 26rem;
  }

  .mission-home-text{
    width:50%;
    font-size: 1.2rem;
  }

  /*donation-page*/
  .shop-item{
    width: 30%;
  }

  #donation-confirmation{
    width: 60%;
  }

  .cart-item-image {
    height: 7rem;
 }
 /*Event Section*/
  .event-container .upcoming-event{
    width: 35%;
  }
  .event-container .event-details{
    width: 45%;
  }

  .event-container .event-details{
    font-size: 1rem;
    
  }

  .event-details{
    margin-bottom: 0;
  }

  .event-details .bank-details{
    font-size: 1rem;
  }

  .events .rocky-event .upcoming-event{
    width: 40%;
  }

  .events .rocky-event .event-details{
    width: 65%;
  }

  .event-details .event-information{
    width: 60%;
    height: 10rem;
    font-size: 1rem;
    margin: 0 auto;
  }

  .event-container .past-event{
    width: 40%;
    height: 30rem
  }

  /*Report Page*/
  .report-container h1{
    font-size: 2rem;
  }

  .fr-container{
    font-size: 1.1rem;
  }

  .fr-heading{
    width: 35%;
    border-right: 0.2rem solid #2ecf78;
  }

  .fr-details{
    font-size: 1rem;
  }
}


